@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
  .privacy-policy h1 {
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0;
  }
  .privacy-policy p {
    font-weight: 400;
    padding: 10px 0;
  }
}
